* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive !important;
}

html, body {
  width: 100%;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  background-color: #7D818B
}

.hc-game-container{
  margin-top: 5%;
}

.hc-game-title {
  text-align: center;
}

.hc-game-area label
, .hc-game-area input
, .hc-controller button {
  display: block;
}

.hc-game-area
, .hc-game-area input
, button  {
  width: 75%;
  height: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

button
, .hc-game-area input {
  margin-top: 10px;
  width: 35%;
  height: 35px;
  outline: none;
  border: none;
}

button{
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25),
  1px 1px 1px 1px rgba(0,0,0,0.22);
}

button:hover{
  box-shadow: none;
}

.hc-game-area input{
  border-bottom: white 1px solid;
  background-color: transparent;
  color:white;
  font-size: 20px;
}

.hc-player-attempts li{
  list-style-type: none;
  position: relative;
  right: 25px;
}

canvas {
	cursor: crosshair;
  display: none;
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

